<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
			<a class="navbar-brand" href="/">Weather</a>
    </div>
  </div>
</nav>

<h2>Weather for  <%= @geoInfo.city + ", " + @geoInfo.state + " " + @geoInfo.zip %> </h2>
<p> The high today will be <%= @today.info["temperatureMax"] %> </p>
<p> The low will be <%= @today.info["temperatureMin"] %>
<p> <%= @today.info["summary"] %>

<p class="alert"> <%= @today.alerts %>



<%= form_tag("/new_location", method: "post") do %>
  <%= label_tag(:zip, "Enter Zip Code:") %>
  <%= text_field_tag(:zip) %>
  <%= submit_tag("Get") %>
<% end %>