

<h2>Weather for  <%= @geoInfo.city + ", " + @geoInfo.state + " " + @geoInfo.zip %> </h2>
<p> The high today will be <%= @today.info["temperatureMax"] %> </p>
<p> The low will be <%= @today.info["temperatureMin"] %>
<p> <%= @today.info["summary"] %>



<%= form_tag("/new_location", method: "post") do %>
  <%= label_tag(:zip, "Enter Zip Code:") %>
  <%= text_field_tag(:zip) %>
  <%= submit_tag("Get") %>
<% end %>