<div class="container">

	<h2>Weather for  <%= @geoInfo.city + ", " + @geoInfo.state + " " + @geoInfo.zip %> </h2>

	<p> The high today will be <%= @today.info["temperatureMax"] %> </p>
	<p> The low will be <%= @today.info["temperatureMin"] %></p>
	<p> <%= @today.info["summary"] %></p>

	<p class="alert"> <%= @today.alerts %> </p>

</div>